* {
    margin: 0;
    padding: 0
}

.wp {
    width: 980px;
    margin: 0 auto;
}

.z {
    float: left;
}

.y {
    float: right;
}

/*头部样式*/
.header {
    height: 50px;
    width: 100%;
    line-height: 50px;
    margin-top: 5px;
}

.logo {
    width: 220px;
    height: 60px;
    padding-right: 11px;
}

.login {
    width: 383px;
    font-size: 12px;
    font-weight: normal;
    font-family: "Arabic Typesetting";
    color: #1D1D1D;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.login a {
    text-decoration: none;
    color: #939393;
}

/*头部样式 -- 消息栏*/
.news {
    width: 356px;
    height: 60px;
    margin: 0;
    padding: 0;
}

.tips {
    width: 356px;
    height: 17px;
    line-height: 17px;
    font-size: 14px;
    text-align: center;
}

.tips ul {
    list-style: none;
}

.tips li {
    display: inline-block;
}

.tips li a {
    text-decoration: none;
    color: #939393;
}
.notice img{
    padding-left: 100px;
}
.notice marquee{
    height:43px;
    width:185px;
    padding-left: 10px;
    overflow: hidden;
}
.notice a{
    text-decoration: none;
    color: #785717;
    font-size: 10px;
}
/*内容部分*/
.centralsection {
    height: 670px;
    width: 100%;
}
/*内容部分 --- 导航栏*/
.navigation{
    margin-top: 10px;
    width: 100%;
    height: 70px;
    text-align:center;
}
.navigation .nav{
    width: 100%;
    height: 35px;
    line-height: 35px;

    background: url("../images/img/top_1.gif")no-repeat;
}
.navigation ul{
    list-style: none;
}
.navigation ul li{
   display: inline-block;
}
.navigation a{
    text-decoration: none;
    color: white;
}
.navigation a:hover {
    color: #fd985a;
}

.navigation a:active  {
    color: #fdf80d;
    text-decoration: #fdf80d;
}
.navigation .usernav{
    width: 100%;
    height: 35px;
    background: url("../images/img/top_2.gif") repeat-x;
}
.foot {
    height: 130px;
    width: 100%;
}

